body {
    -webkit-user-select:none;
    user-select:none;

    margin:0;
    width:100%;
    height: 100svh;


    --error-color: #ff5252;
}

#app {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}


x-notification.error {
    background-color: #ff5252;
}